
<html>
<head></head>
<body>

    <label for ="Enter name"><b>Enter full name</b></label>
    <input type= "text" placeholder="Enter name" name="Enter Name" required>
    <br></br>

    <label for ="Enter mobile number"><b>Enter Mobile Number</b></label>
    <input type= "text" placeholder="Enter mobile number" name="Enter mobile number" required>
    <br></br>

    <label for ="Enter email"><b>Enter Email</b></label>
    <input type= "text" placeholder="Enter email id" name="Enter email" required>
    <br></br>
    <label for="Enter password"><b>New password</b></label>
    <input type="password" placeholder="Enter Password" name="password" 
    required>
    <br></br> 
    <label for="Confirm password"><b>Confirm password</b></label>
    <input type="Confirm password" placeholder="Confirm Password" name="password" required>
    </br> 

</form>
</body>
</html>